.order {
    background-color: #dbc349;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
}



nav {
    background-color: #dbc349;
}

.green {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #344739;
    color: white;
}

footer {
    background-color: #344739;
    color: white;
}

li {
    list-style: none;
    color: white;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
}

.logo {
    width: 20%;
}

.footerwpic {
    display: flex;
}

.feeling {
    display: flex;
    justify-content: center;
}

.mood {
    display: flex;
    justify-content: space-between;
    background-color: #D1DCDA;
}

.flavours {
    display: flex;
    justify-content: center;
}

.flavourlabels {
    display: flex;
    justify-content: space-evenly;
}

.footerstory {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    border-radius: 50%;
    width: 25%;
}

.flavourpics {
    display: flex;
    justify-content: space-evenly;
}