html {
    font-size: 16px;
}

.order {
    background-color: #DBC349;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    float: right;
}

h1 {
}

header {
    background-image: url('/images/croissant.jpg');   
    background-repeat: no-repeat;
    height: 100%;
}

nav {
    background-color: #dbc349;
}

.green {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #344739;
    color: white;
    
}

footer {
    background-color: #344739;
    color: white;
}

li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
}

.logo {
    width: 20%;
}

.footerwpic {
    display: flex;
}

.feeling {
    display: flex;
    justify-content: center;
}

.mood {
    display: flex;
    justify-content: space-between;
    background-color: #D1DCDA;
}

.flavours {
    display: flex;
    justify-content: center;
}

.flavourlabels {
    display: flex;
    justify-content: space-evenly;
}

.footerstory {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    border-radius: 50%;
    width: 25%;
}

.flavourpics {
    display: flex;
    justify-content: space-evenly;
}