.order {
    background-color: #dbc349;
    color: white;
}

nav {
    background-color: #dbc349;
}

.green {
    background-color: #344739;
    color: white;
}

footer {
    background-color: #344739;
    color: white;
}